---
layout: mypost
title: 留言板
---

    <div id="app" class="wrapper">
        <!-- 头部组件  -->
        <msg-header></msg-header>
        <div class="main">
            <div class="content">
                <!-- 留言列表组件  -->
                <msg-list :msg="message"></msg-list>
                <!-- 发表留言表单组件  -->
                <msg-form @send="receive"></msg-form>
            </div>
            <!-- 最新留言组件  -->
            <msg-sidebar :msg="newMsg"></msg-sidebar>
        </div>
        <div style="clear:both;"></div>
        <msg-footer></msg-footer>
    </div>


    <div id="list">
        <div>
            <div class="msg" v-for="item in msg">
                <h2>{{item.title}}</h2>
                <p>发表于<a href="">{{item.time}}</a> 由 <a href="">{{item.author}}</a></p>
                <p>{{item.content}}</p>
            </div>
        </div>
    </div>

    <div id="form">
        <div class="msg_form">
           <h2>发表留言</h2>
           <form action="" method="POST" @submit.prevent="submit">
               <ul>
                   <li>
                       <label for="">标题：</label>
                   </li>
                   <li>
                       <input type="text" ref="title" name="title" class="txt" />
                   </li>
                   <li>
                       <label for="">作者：</label>
                   </li>
                   <li>
                       <input type="text" ref="author" name="author" class="txt" />
                   </li>
                   <li>
                       <label for="">内容：</label>
                   </li>
                   <li>
                       <textarea name="content" ref="content" id="" cols="70" rows="5"></textarea>
                   </li>
                   <li>
                       <input type="submit" value="提交" name="btn" class="btn" />
                   </li>
               </ul>
           </form>
       </div>
    </div>

    <div id="sidebar">
        <div class="sidebar">
           <h2>最新留言</h2>
           <ul>
               <li v-for="item in msg">
                   <a href="">{{item.title}}</a>
               </li>
           </ul>
       </div>
    </div>
    <script>
        var vm = new Vue({
            el : "#app",
            data : {
                message : [
                    {
                        title : "留言标题",
                        author : '作者',
                        time : '发表时间',
                        content : '留言内容'
                    }
                ]
            },
            computed : {
                newMsg : function(){
                    return this.message.slice(0,3);
                }
            },
            methods : {
                receive : function(e){
                    console.log(e);
                    this.message.unshift(e);
                }
            },
            components : {
                "msg-header" : {
                    div : "#header"
                },
                "msg-footer" : {
                    div : "#footer"
                },
                "msg-list" : {
                    div : "#list",
                    props : {
                        msg : {
                            type : Array,
                            required : true
                        }
                    }
                },
                "msg-form" : {
                    div : "#form",
                    methods : {
                        submit : function(){
                            // alert('submit');
                            //获取每一个表单元素的值，构造成一个对象
                            let title = this.$refs.title.value;
                            let author = this.$refs.author.value;
                            let content = this.$refs.content.value;
                            // console.log(title,author,content);
                            let time = new Date().toLocaleString();
                            let msg = {
                                title : title,
                                author : author,
                                content : content,
                                time : time
                            }
                            //然后需要调用$emit向根组件发射一个事件，同时传递数据
                            this.$emit('send',msg);
                        }
                    }
                },
                "msg-sidebar" : {
                    div : "#sidebar",
                    props : {
                        msg : Array
                    }
                }
            }
        });
    </script>

